@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none
}

body {
    background-color: black;
    text-align:center;
}

.Username h1 {
    font-family: 'Poppins', sans-serif;
    padding-top:60px;
    color:white;
}

.description p {
    font-family: 'Montserrat', sans-serif;
    padding-top:40px;
    color:white;
    font-size:20px;
}

.menu img {
    height:35px;
    padding-top:100px;
    padding-left:20px;

}

.avatar img {
    padding-top:60px;
    border-radius:150px;
    width:20%;
    height:20%;
}


button {all:unset;}



/*iPhone X/XS iOS 12*/
@media (width:375px) {
    .menu img {
        height:25px;

    }

    .avatar img {
        padding-top:60px;
        border-radius:150px;
        width:40%;
        height:40%;
    }

    .description p {
        font-family: 'Montserrat', sans-serif;
        padding-top:25px;
        color:white;
        font-size:20px;
    }

}

/*iPhone 6/7/8 iOS 11*/
@media screen and (max-width: 375px),
screen and (max-height: 667px) {
    .avatar img {
        padding-top:60px;
        border-radius:150px;
        width:40%;
        height:40%;
    }
    .description p {
        font-family: 'Montserrat', sans-serif;
        padding-top:25px;
        color:white;
    }


}

@media screen and (max-width: 720px),
screen and (max-height: 1440px) {
    .avatar img {
        padding-top:50px;
        border-radius:150px;
        width:40%;
        height:40%;
    }

    .description p {
        font-family: 'Montserrat', sans-serif;
        padding-top:25px;
        font-size:20px;
        color:rgb(0, 0, 0);
    }
}

